
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* background-color: #000; */  /* Quitamos el fondo negro */
  background: url('/textures/map.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;  /* Para alinear los hijos lado a lado */
  cursor: none;
}

#left {
  width: 700px;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  flex-shrink: 0; /* No dejar que se reduzca */
  overflow-y: auto; /* Permitir desplazamiento si el contenido es largo */
}

#right {
  flex-grow: 1;  /* Ocupa todo el espacio restante */
  height: 100vh;
  position: relative;
}

/* Estilos para el infobox de hotspots */
#hotspot-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  display: none;
  z-index: 10;
}

#hotspot-info.visible {
  display: block;
}

#close-info {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

#info-image {
  max-width: 100%;
  margin-top: 10px;
}

body, canvas {
  cursor: none;
}

body {
  cursor: none;
}